In [61]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [105]:
headers = {"Accept-Language": "en-US, en;q=0.5"}
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\yfird\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [7]:
#checking url is working
page=1
while page !=50:
    url=f"https://www.jumia.com.ng/food-cupboard-supplies/?page={page}#catalog-listing"
    print(url)
    page=page +1

https://www.jumia.com.ng/food-cupboard-supplies/?page=1#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=2#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=3#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=4#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=5#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=6#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=7#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=8#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=9#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=10#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=11#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=12#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=13#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=14#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=15#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=16#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=17#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=18#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=19#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=20#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=21#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=22#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=23#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=24#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=25#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=26#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=27#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=28#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=29#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=30#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=31#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=32#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=33#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=34#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=35#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=36#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=37#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=38#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=39#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=40#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=41#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=42#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=43#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=44#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=45#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=46#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=47#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=48#catalog-listing
https://www.jumia.com.ng/food-cupboard-supplies/?page=49#catalog-listing

In [72]:
page=1
Name=[]
Price=[]
while page !=50:
    url=f"https://www.jumia.com.ng/food-cupboard-supplies/?page={page}#catalog-listing"
    driver.get(url)
    results = driver.page_source
    soup = BeautifulSoup(results, "html.parser")

    products=soup.find_all('div', class_="info")
    for item in products:
        name=item.h3.text
        Name.append(name)
        #price
        price=item.find('div',class_='prc')
        if price is not None:
             price= price.text.strip()      
        else:
             price = 'NaN'
               
        Price.append(price)
        
    page=page +1

In [73]:
Groceries=pd.DataFrame({
    'Name':Name,
    'Price':Price
})

In [74]:
Groceries.head()

                                              Name     Price
0  Indomie INDOMITABLE INDOMIE PACK- 70g (1carton)   ₦ 2,750
1            Indomie ONION CHICKEN- 70g (1 Carton)   ₦ 2,950
2                           Knorr Beef Cubes 50x8g     ₦ 600
3            Devon King'S Pure Vegetable Oil (10L)  ₦ 12,500
4      Devon King'S Pure Vegetable Oil -3LitersÃ—3  ₦ 11,500

In [75]:
Groceries.shape

(2344, 2)

In [76]:
Groceries.isnull().any()

Name     False
Price    False
dtype: bool

In [77]:
Groceries.tail()

                                                   Name               Price
2339                Goya Extra Virgin Olive Oil - 500ml             ₦ 3,550
2340  Power Oil 2.6L PET Bottle Pure Vegetable Cooki...  ₦ 5,000 - ₦ 24,000
2341                   Tesco Pure Sunflower Oil 5 Litrs             ₦ 7,500
2342            Sarah Coloured Prawn Crackers - 3 Packs             ₦ 1,700
2343         Pegasus Fine Pink Himalayan Pink Salt 750g             ₦ 4,900

In [78]:
Groceries.duplicated().any().sum()

1

In [79]:
Groceries['Price'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
2339    <class 'str'>
2340    <class 'str'>
2341    <class 'str'>
2342    <class 'str'>
2343    <class 'str'>
Name: Price, Length: 2344, dtype: object

In [81]:
df["Price"] = df["Price"].str.replace('₦', '')

In [85]:
df["Price"] = df["Price"].str.replace(',', '')

In [86]:
df["Price"].head()

0     <div class="prc"> 2750</div>
1     <div class="prc"> 2950</div>
2      <div class="prc"> 600</div>
3    <div class="prc"> 12500</div>
4    <div class="prc"> 11500</div>
Name: Price, dtype: object

In [88]:
Groceries.head()

                                              Name     Price
0  Indomie INDOMITABLE INDOMIE PACK- 70g (1carton)   ₦ 2,750
1            Indomie ONION CHICKEN- 70g (1 Carton)   ₦ 2,950
2                           Knorr Beef Cubes 50x8g     ₦ 600
3            Devon King'S Pure Vegetable Oil (10L)  ₦ 12,500
4      Devon King'S Pure Vegetable Oil -3LitersÃ—3  ₦ 11,500

In [89]:
Groceries.to_csv('Jumia_Groceries.csv', index=False)

In [90]:
df=pd.read_csv('Jumia_Groceries.csv')

In [92]:
df.shape

(2344, 2)

In [94]:
df.isnull().any().sum()

2

In [95]:
df.isnull()

       Name  Price
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
2339  False  False
2340  False  False
2341  False  False
2342  False  False
2343  False  False

[2344 rows x 2 columns]

In [96]:
df["Price"] = df["Price"].str.replace('₦', '')  #remove price sign

In [97]:
df["Price"].head()

0      2,750
1      2,950
2        600
3     12,500
4     11,500
Name: Price, dtype: object

In [98]:
df.head()

                                              Name    Price
0  Indomie INDOMITABLE INDOMIE PACK- 70g (1carton)    2,750
1            Indomie ONION CHICKEN- 70g (1 Carton)    2,950
2                           Knorr Beef Cubes 50x8g      600
3            Devon King'S Pure Vegetable Oil (10L)   12,500
4      Devon King'S Pure Vegetable Oil -3LitersÃ—3   11,500

In [99]:
nan_value=float("NaN")
df.replace("", nan_value, inplace=True)

In [100]:
df.dropna(subset = ["Name"], inplace=True)

In [101]:
df.shape

(1960, 2)

In [104]:
df.to_csv('Jumia_Groceries_clean.csv', index=False)