In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
headers = {"Accept-Language": "en-US, en;q=0.5"}
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\yfird\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [4]:
page=1
Name=[]
Price=[]
Desc=[]
while page !=10:
    url="https://www.bulkbuyersconnect.com/product/list?page={}".format(page)
    driver.get(url)
    results = driver.page_source
    soup = BeautifulSoup(results, "html.parser")

    products=soup.find_all('article', class_="single_product")
    for item in products:
        name=item.h3.text
        Name.append(name)
        #price
        price=item.find('span',class_='current_price')
        if price is not None:
             price= price.text.strip()      
        else:
             price = 'NaN'
               
        Price.append(price)
        
        desc=item.find('div','product_desc').p
        if desc is not None:
             desc= desc.text.strip()      
        else:
             desc = 'NaN'
               
        Desc.append(desc)
        
        
        
    page=page +1

In [8]:
items=pd.DataFrame({
    'Name':Name,
    'Price':Price,
    'Description':Desc
})

In [9]:
items.head()

              Name   Price               Description
0         Tomatoes  ₦3,300          1 plastic basket
1         Tomatoes  ₦1,700  Half of a Plastic Basket
2  Pepper (Shombo)  ₦1,300  Half of a Plastic Basket
3  Pepper (Shombo)  ₦2,500          1 Plastic basket
4           Pepper  ₦1,300  Half of a Plastic Basket

In [12]:
items['Name']=items["Name"]+" "+items["Description"] #combiing name and description

In [13]:
items.head()

                                       Name   Price               Description
0                 Tomatoes 1 plastic basket  ₦3,300          1 plastic basket
1         Tomatoes Half of a Plastic Basket  ₦1,700  Half of a Plastic Basket
2  Pepper (Shombo) Half of a Plastic Basket  ₦1,300  Half of a Plastic Basket
3          Pepper (Shombo) 1 Plastic basket  ₦2,500          1 Plastic basket
4           Pepper Half of a Plastic Basket  ₦1,300  Half of a Plastic Basket

In [15]:
del items["Description"]

In [16]:
items.head()

                                       Name   Price
0                 Tomatoes 1 plastic basket  ₦3,300
1         Tomatoes Half of a Plastic Basket  ₦1,700
2  Pepper (Shombo) Half of a Plastic Basket  ₦1,300
3          Pepper (Shombo) 1 Plastic basket  ₦2,500
4           Pepper Half of a Plastic Basket  ₦1,300

In [18]:
items.shape

(80, 2)

In [19]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    80 non-null     object
 1   Price   80 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [20]:
items.to_csv("bulk buyers inventory.csv",index=False)

In [22]:
items.duplicated().any()

False