In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
headers = {"Accept-Language": "en-US, en;q=0.5"}
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\yfird\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [19]:
page=0
Name=[]
Price=[]
while page !=3:
    url="https://retail.farmhubng.com/shop/?page={}".format(page)
    driver.get(url)
    results = driver.page_source
    soup = BeautifulSoup(results,"lxml")

    products=soup.find_all('div', class_="title")
    for item in products:
        for h in soup.find_all('h3', class_="h6 text-uppercase no-margin-bottom"): 
            name=h.findAll('a')[1].text.strip()
        Name.append(name)
        #print(Name)
        #price
        price=item.find('span',class_="price text-muted")
        if price is not None:
             price= price.text.strip()      
        else:
             price = 'NaN'
        Price.append(price)
        #print(Price)


    page=page+1

In [20]:
items=pd.DataFrame({
    'Name':Name,
    'Price':Price
})

In [21]:
items.head()

                    Name           Price
0  Smoked Chicken (Full)  N300.00 / kilo
1  Smoked Chicken (Full)  N400.00 / kilo
2  Smoked Chicken (Full)  N400.00 / kilo
3  Smoked Chicken (Full)  N500.00 / kilo
4  Smoked Chicken (Full)  N500.00 / kilo

In [22]:
items.shape

(31, 2)

In [23]:
new=items["Price"].str.split("/ ", n = 1, expand = True)

In [33]:
items['measuremet']="One" +" "+ new[1]

In [26]:
items['Price']=new[0]

In [27]:
items['Price']

0       N300.00
1       N400.00
2       N400.00
3       N500.00
4       N500.00
5      N1600.00
6      N1600.00
7      N1800.00
8      N1800.00
9      N2000.00
10     N2000.00
11     N2500.00
12     N3500.00
13     N3700.00
14     N4000.00
15     N4000.00
16     N4000.00
17     N4000.00
18     N5000.00
19     N5000.00
20     N5500.00
21     N5500.00
22     N5500.00
23     N5500.00
24     N6000.00
25     N6500.00
26     N6500.00
27     N6500.00
28    N10000.00
29    N20000.00
30    N35000.00
Name: Price, dtype: object

In [34]:
items.head()

                    Name     Price measuremet
0  Smoked Chicken (Full)  N300.00    One kilo
1  Smoked Chicken (Full)  N400.00    One kilo
2  Smoked Chicken (Full)  N400.00    One kilo
3  Smoked Chicken (Full)  N500.00    One kilo
4  Smoked Chicken (Full)  N500.00    One kilo

In [36]:
items["Price"] = [x[:-3] for x in items["Price"]]

In [37]:
items.tail()

                     Name    Price   measuremet
26  Smoked Ram Meat (1/2)   N6500.   One bundle
27  Smoked Ram Meat (1/2)   N6500.   One bundle
28  Smoked Ram Meat (1/2)  N10000.  One portion
29  Smoked Ram Meat (1/2)  N20000.  One portion
30  Smoked Ram Meat (1/2)  N35000.     One unit

In [38]:
items.to_csv("farmhub_Groceries.csv",index=False)