In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
headers = {"Accept-Language": "en-US, en;q=0.5"}
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\yfird\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
page=1
Name=[]
Price=[]
while page !=10:
    urls=["https://ydsgroceries.com/fresh-food.html?p={}".format(page)]
    for url in urls:
        driver.get(url)
        results = driver.page_source
        soup = BeautifulSoup(results,"lxml")

        products=soup.find_all('div', class_="product details product-item-details")
        for item in products:
            name=item.find('strong', class_="product name product-item-name").a.text.strip('\n')
            Name.append(name)
            #print(Name)
            #price
            price=item.find('span',class_="price")
            if price is not None:
                 price= price.text.strip()      
            else:
                 price = 'NaN'
            Price.append(price)
            #print(Price)


        page=page+1

In [4]:
items=pd.DataFrame({
    'Name':Name,
    'Price':Price
})

In [5]:
items.head()

                                                Name       Price
0                                  Bag of Potatoe...  ₦20,000.00
1                                  Organic chicke...   ₦3,500.00
2                                  Organic Chicke...   ₦2,500.00
3                                  Organic Broile...   ₦2,500.00
4                                  Organic broile...   ₦2,500.00

In [6]:
items.shape

(77, 2)

In [7]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    77 non-null     object
 1   Price   77 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [8]:
items["Price"] = [x[:-3] for x in items["Price"]] #removes eerythig after . in price.last three characters

In [9]:
items.to_csv("ydsgroceries invetory.csv",index=False)